<a href="https://colab.research.google.com/github/AkisParousis/Python_Pandas/blob/main/Data_Exploration_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries_by_college_major.csv')

In [3]:
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [5]:
df.shape

(51, 6)

In [8]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [9]:
df.isna()

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False
50                False  ...   True

[51 rows x 6 columns]

In [10]:
df.dropna()

                     Undergraduate Major  ...     Group
0                             Accounting  ...  Business
1                  Aerospace Engineering  ...      STEM
2                            Agriculture  ...  Business
3                           Anthropology  ...      HASS
4                           Architecture  ...  Business
5                            Art History  ...      HASS
6                                Biology  ...      STEM
7                    Business Management  ...  Business
8                   Chemical Engineering  ...      STEM
9                              Chemistry  ...      STEM
10                     Civil Engineering  ...      STEM
11                        Communications  ...      HASS
12                  Computer Engineering  ...      STEM
13                      Computer Science  ...      STEM
14                          Construction  ...  Business
15                      Criminal Justice  ...      HASS
16                                 Drama  ...      HASS
17                             Economics  ...  Business
18                             Education  ...      HASS
19                Electrical Engineering  ...      STEM
20                               English  ...      HASS
21                                  Film  ...      HASS
22                               Finance  ...  Business
23                              Forestry  ...  Business
24                             Geography  ...      HASS
25                               Geology  ...      STEM
26                        Graphic Design  ...      HASS
27            Health Care Administration  ...  Business
28                               History  ...      HASS
29                 Hospitality & Tourism  ...  Business
30                Industrial Engineering  ...      STEM
31           Information Technology (IT)  ...      STEM
32                       Interior Design  ...      HASS
33               International Relations  ...      HASS
34                            Journalism  ...      HASS
35  Management Information Systems (MIS)  ...      STEM
36                             Marketing  ...  Business
37                                  Math  ...      STEM
38                Mechanical Engineering  ...      STEM
39                                 Music  ...      HASS
40                               Nursing  ...  Business
41                             Nutrition  ...      HASS
42                            Philosophy  ...      HASS
43                   Physician Assistant  ...      STEM
44                               Physics  ...      STEM
45                     Political Science  ...      HASS
46                            Psychology  ...      HASS
47                              Religion  ...      HASS
48                             Sociology  ...      HASS
49                               Spanish  ...      HASS

[50 rows x 6 columns]

In [11]:
df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
50        NaN
Name: Starting Median Salary, dtype: float64

In [12]:
df['Starting Median Salary'].max()

74300.0

In [14]:
df['Starting Median Salary'].idxmax()

43

In [15]:
df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [16]:
df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                             74300
Mid-Career Median Salary                           91700
Mid-Career 10th Percentile Salary                  66400
Mid-Career 90th Percentile Salary                 124000
Group                                               STEM
Name: 43, dtype: object

In [20]:
print(df['Undergraduate Major'].loc[df['Mid-Career Median Salary'].idxmax()])
print(df['Mid-Career Median Salary'].loc[df['Mid-Career Median Salary'].idxmax()])

Chemical Engineering
107000.0